.menu2 {
  width: 100%;
  float: left;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(s_images/Solid1.webp);
  background-position: center;
  background-size: cover;
  height: 400px;
}

/*my extras*/
ol {
  text-decoration: none;
  color: rgb(155, 148, 175);
  font-family: arial;
  font-weight: 1;
  transition: 0.2s ease-in-out;
}

ol li {
  list-style: none;
  margin-left: 0px;
  margin-top: 20px;
  font-size: 14px;
}
